<div class="dashboard-layout">
  <header class="main-header">
    <div class="logo">
      <span class="icon">🚀</span>
      <h1>Angular Signals <span>Lab</span></h1>
    </div>

    <div class="header-actions">
      <app-user-status />
    </div>
  </header>

  <main class="dashboard-content">
    <section class="primary-column">
      <div class="card-wrapper">
        <app-tareas />
      </div>

      <div class="card-wrapper">
        <app-configuracion />
      </div>
    </section>

    <aside class="secondary-column">
      <app-notificaciones />
    </aside>
  </main>

  <footer class="main-footer">
    <p>&copy; 2026 Alvaro Sanchez.</p>
  </footer>
</div>
